<% layout('layouts/boilerplate') %>
<div class="row">
  <h1 class="text-center">Edit Campground</h1>
  <div class="col-6 offset-3">
    <form action="/campgrounds/<%= campground._id%>?_method=PUT" method="POST" novalidate class="validated-form">
      <div class="form-item mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          type="text"
          class="form-control"
          id="title"
          name="campground[title]"
          value="<%= campground.title %>"
          required
        />
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <div class="form-item mb-3">
        <label for="location" class="form-label">Location</label>
        <input
          type="text"
          class="form-control"
          id="location"
          name="campground[location]"
          value="<%= campground.location %>"
          required
        />
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <div class="form-item mb-3">
        <label for="image" class="form-label">Image Url</label>
        <input
          type="text"
          class="form-control"
          id="image"
          name="campground[image]"
          value="<%= campground.image %>"
          required
        />
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <div class="form-item mb-3">
        <label for="price" class="form-label">Campground Price</label>
        <div class="input-group">
          <span class="input-group-text">$</span>
          <input
            type="number"
            step="0.01"
            min="0.01"
            class="form-control"
            id="price"
            placeholder="0.00"
            aria-label="Amount (to the nearest dollar)"
            name="campground[price]"
            value="<%= campground.price %>"
            required
          />
        </div>
      </div>
      <div class="form-item mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea
          type="text"
          class="form-control"
          id="description"
          name="campground[description]"
          placeholder="Leave a description here"
          style="height: 150px"
          required
        >
        <%= campground.description %>
        </textarea>
      </div>
      <div class="mb-3">
        <button type="submit" class="btn btn-info text-white">Update Campground</button>
      </div>
    </form>
    <a href="/campgrounds" class="btn btn-primary">All Camgrounds</a>
  </div>
</div>
